<h2>Welcome!</h2>
<h3>This app is all about function over form. If you're looking to authorize this app, click <a href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id={{clientId}}&response_type=code&state={{state}}&scope=user_impersonation&redirect_uri={{redirectUri}}">here</a></h3>